<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>Gallery</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="img">
    <ion-img src="assets/pic1.jpg"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic2.jpg"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic3.jpg"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic4.jpg"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic5.jpg"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic6.jpg"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic7.jpg"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic8.jpeg"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic9.png"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic10.png"></ion-img>
  </div><div class="img">
    <ion-img src="assets/pic11.png"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic12.png"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic13.png"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic14.png"></ion-img>
  </div>
  <div class="img">
    <ion-img src="assets/pic15.png"></ion-img>
  </div>
</ion-content>
