<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>Profile</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="img">
      <ion-img src="assets/pic.jpg"></ion-img>
    </div>
    <p>Complete Name:Angeline Jurilla</p>
    <p>I was born on November 07,1999.I'm 21 years old. Studying at EVSU-CC, BSIT 3RD YEAR. I lived in Barangay Macalpi Carigara, Leyte. I'm the 5th child among the siblings. I love watching k-drama, C-drama, and Thai drama(lakorn). I love listening to music.  <br>
    </p>
  
</ion-content>
