<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    <center>Contact</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="pic">
  <ion-img src="assets/icon01.png"></ion-img>
  </div>
  <br><br> 
  <input type="text" name="name"><br>
  <br><br>
  <div class="pic">
  <ion-img src="assets/icon02.webp"></ion-img></div> <br><br>
  <input type="number" name="number"><br><br>

  <button type="button">Save</button>

</ion-content>
